include ../input/input

mixin form()
	+b.FORM.form&attributes(attributes)
		+e.HEADER.header
			+e.A.logo(href="http://csssr.ru/", target="_blank")
				+e.IMG.logo-image(src="./assets/images/logo.png", alt="Лого CSSSR")
			+e.H1.title Дело
			+e.IMG.stamp(src="./assets/images/stamp.png", alt="Секретно. Заполнено собственноручно")

		+b.SECTION.section.__section-fields
			+b.fields
				+e.item
					+b.field
						+e.LABEL.label(for="name") Полное ФИО
						+b.INPUT.input.__input(id="name", type="text", name="name", value="Иванов Вадим Николаевич")

				+e.item
					+b.field
						+e.LABEL.label(for="year") Год рождения
						+b.INPUT.input.__input(id="year", type="text", name="year", value="1994")

				+e.item
					+b.field
						+e.LABEL.label(for="location") Место жительства
						+b.INPUT.input.__input(id="location", type="text", name="location", value="г. Кстово, Россия")

				+e.item
					+b.field
						+e.LABEL.label(for="skype") Скайп
						+b.INPUT.input.__input(id="skype", type="text", name="skype", value="dynamite_sfera")

				+e.item
					+b.field
						+e.LABEL.label(for="email") Почта
						+b.INPUT.input.__input(id="email", type="email", name="skype", value="sferamail33@yandex.ru")

		+b.SECTION.section.__hjjhgjh
			+e.HEADER.header
				+b.H3.title.__title Расскажите о себе чекбоксами
				+e.text
					p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

			+b.row
				+e.col
					+b.UL.controls
						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="bem/oocss", checked)
								+e.indicator
								| БЭМ/OOCSS

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="pug", checked)
								+e.indicator
								| Pug (Jade)

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Stylus,LESS,SASS", checked)
								+e.indicator
								| Stylus/LESS/SASS

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="SVG", checked)
								+e.indicator
								| Работаю с SVG

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="semantics", checked)
								+e.indicator
								| Верстаю семантично

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="accessibility")
								+e.indicator
								| Accessibility (A11Y)

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="ES2015/ES2016", checked)
								+e.indicator
								| ES2015/ES2016

				+e.col
					+b.UL.controls
						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Gulp/GRUNT", checked)
								+e.indicator
								| Gulp/GRUNT

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Webpack", checked)
								+e.indicator
								| Webpack

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="WebGL")
								+e.indicator
								| Дружу с WebGL

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="jQuery", checked)
								+e.indicator
								| jQuery

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Angular")
								+e.indicator
								| Знаю/изучаю Angular

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="React", checked)
								+e.indicator
								| Знаю/изучаю React

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Node.js", checked)
								+e.indicator
								| Знаю/изучаю Node.js

				+e.col
					+b.UL.controls
						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="Git", checked)
								+e.indicator
								| Использую Git

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="eye", checked)
								+e.indicator
								| С глазомером всё ок

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="blog", checked)
								+e.indicator
								| Читаю #[a.link(href="http://blog.csssr.ru/") blog.csssr.ru]

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="laziness", checked)
								+e.indicator
								| Я ленивый(-ая)

						+e.LI.item
							+b.LABEL.control
								+e.INPUT.native(type="checkbox", name="about", value="English")
								+e.indicator
								| У меня хороший английский


			//- br
			//- br
			//- +b.LABEL.control._radio
			//- 	+e.INPUT.native(type="radio", name="about")
			//- 	+e.indicator
			//- 	| Верстать
