include ../input/input

mixin form()
	+b.FORM.form&attributes(attributes)
		+e.HEADER.header
			+e.A.logo(href="http://csssr.ru/", target="_blank")
				+e.IMG.logo-image(src="./assets/images/logo.png", alt="Лого CSSSR")
			+e.H1.title Дело
			+e.IMG.stamp(src="./assets/images/stamp.png", alt="Секретно. Заполнено собственноручно")

		+b.SECTION.section.__section-fields
			+b.fields
				+e.item
					+b.field
						+e.LABEL.label(for="name") Полное ФИО
						+b.INPUT.input.__input(id="name", type="text", name="name", value="Иванов Вадим Николаевич")

				+e.item
					+b.field
						+e.LABEL.label(for="year") Год рождения
						+b.INPUT.input.__input(id="year", type="text", name="year", value="1994")

				+e.item
					+b.field
						+e.LABEL.label(for="location") Место жительства
						+b.INPUT.input.__input(id="location", type="text", name="location", value="г. Кстово, Россия")

				+e.item
					+b.field
						+e.LABEL.label(for="skype") Скайп
						+b.INPUT.input.__input(id="skype", type="text", name="skype", value="dynamite_sfera")

				+e.item
					+b.field
						+e.LABEL.label(for="email") Почта
						+b.INPUT.input.__input(id="email", type="email", name="skype", value="sferamail33@yandex.ru")

		+b.SECTION.section.__hjjhgjh
			+e.HEADER.header
				+b.H3.title.__title Расскажите о себе чекбоксами
				+e.text
					p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			br
			br
			+b.LABEL.control
				+e.INPUT.native(type="checkbox", name="about")
				+e.indicator
				| БЭМ/OOCSS

			br
			br
			+b.LABEL.control._radio
				+e.INPUT.native(type="radio", name="about")
				+e.indicator
				| Верстать
