.form
	padding-x(114px)
	padding-top 47px
	padding-bottom 73px
	background-color #f2cf92
	background-image url('../images/pattern.jpg')

	&__header
		position relative
		margin-bottom 45px
		padding-top 107px

	&__logo
		position absolute
		top 15px
		left 0

	&__logo-image
		display block

	&__stamp
		position absolute
		top 0
		right -60px

	&__title
		position relative
		left -22px
		margin-x(auto)
		display block
		width 221px
		height 118px
		font 0/0 serif
		text-shadow none
		color transparent
		background-image url('../images/form-title.png')
		background-repeat no-repeat

	&__section-fields
		margin-bottom 64px

	&__section-about
		margin-bottom 57px
