.field
	display flex
	align-items flex-end

	&__label
		margin-right 16px
		font-size 22px
		flex-shrink 0
		font-weight 700
		color $color-text-accent

	&__input
		flex-grow 1
		flex-basis 0

		&_fit
			flex-grow 0
			flex-basis 215px
			max-width 215px
