.page
	min-width 1040px
	font-family 'PT Sans', Tahoma, sans-serif
	font-size 14px
	line-height 20px
	color #757575
	background-color #797979

	&__container
		margin-x(auto)
		padding-x(20px)
		width 1040px
