.page
	min-width 1040px
	font-family $font-family-primary
	font-size 14px
	line-height 1.4
	color $color-text
	background-color #797979

	&__container
		margin-x(auto)
		padding-x(20px)
		width 1040px
