.textarea
	display block
	width 100%
	min-height 170px
	background-color transparent
	border none
	resize none
	font-size 30px
	line-height 2
	font-family $font-family-secondary
	background-image url('../images/line.png')
	background-position 0 18px

	&::selection
		color #fff
		background $color-text-accent
