.textarea
	display block
	width 100%
	min-height 180px
	font-family $font-family-secondary
	font-size 30px
	line-height 2
	resize none
	background-color transparent
	background-image url('../images/line.png')
	background-position 0 18px
	border none

	&::selection
		color #fff
		background $color-text-accent
